.projects{
    padding: 20px 40px;

}
.project-heading{
    display: flex;
    justify-content: center;

}
.card-row{
    padding: 40px 0px;
    display: flex;
    justify-content: center;

}
.card{
    margin-bottom: 15px;
}
.project-container{

}
.card-img-top{
    height: 150px;

}

.view-none{
    display: none;
}

.product-btn{
    padding: 3px 6px!important;
    font-size: 15px!important;
}
.technology-icon{
    width: 50px!important;
}
