.projects{
    padding: 20px 40px;

}
.project-heading{
    display: flex;
    justify-content: center;
}
.card-row{
    padding: 0px 0px;
    display: flex;
    justify-content: center;

}
.card{
    margin-bottom: 15px;
}
.project-container{

}
.card-img-top{
    height: 150px;

}
.btn-view-project{
    border: 1px solid black;
    color: white;
    border-radius: 50px;
    height: 30px;
    padding: 4px 8px;
    font-size: 15px;
    background-color: black;
}
.btn-view-project:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
    border: 1px solid black;

}
.view-none{
    display: none;
}
@media(min-width:992px) {
   .card-row{
       padding: 40px 150px;
   }

}
